<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204847946991-akhevlhev2sqcnpe69151bnbq3qun4nk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204847946991-akhevlhev2sqcnpe69151bnbq3qun4nk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>204847946991-itunqskqiq5l6p3oimgkkihkn97b32o6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGlGG3Ko5vu60jVSH2Akie6fpbSJ8eAwo</string>
	<key>GCM_SENDER_ID</key>
	<string>204847946991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guidegrade.app</string>
	<key>PROJECT_ID</key>
	<string>guidegrade-470ea</string>
	<key>STORAGE_BUCKET</key>
	<string>guidegrade-470ea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204847946991:ios:c0fca4549e04a4da68cf1a</string>
</dict>
</plist>